header {

    display: flex;
    align-items: center;
    justify-content: center;
}

 nav ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
}

.container h1, h2 ,h4{
    text-align: center;
} 
.music {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: red;
}

h2 {
    color: purple;
}

h4 {
    color: gold;
}
.pic {
    display: flex;
    align-items: center;
    justify-content: center;
}